

<h1>Assessments</h1>
			<div class="row">
					<div class="col-xs-3 col-xs-push-7">
				<%= form_tag assessments_path, :method => 'get' do%>
					<p>					
						<div class="input-group">
  					       <%= text_field_tag :search, params[:search],class: 'form-control',placeholder: 'Search client...'%>
  					        	<span class="input-group-btn">
  					        		 <%= submit_tag "Search", :client => nil, class: "btn btn-default"%> 
  					        	</span>
  					      	</div>
					</p>
				<%end%>
				</div>						
			
				</div>
						<div class="row">
					 		<div class="col-xs-8 col-xs-push-2">
					 			<table class="table table-bordered">
					 	   <thead>
					 	     <tr class="warning">
					 	       <th>Name</th>
					 	       <th>Date</th>
					 	       <th>Creator</th>
					 	       <th><%= button_to "Add New", new_assessment_path, :method => "get", class: "btn btn-sm btn-primary" %></th>
					 	     </tr>
					 	   </thead>
					 	   <tbody>
					 	   	<% @assessments.each do |assessment| %>
					 	     <tr class="info">
					 	       <td><% if assessment.client %><%= assessment.client.name%><%end%></td>
					 	       <td><%= assessment.date.strftime("%B %d, %Y")%></td>
					 	       <td><%= assessment.trainer.name%></td>
					 	       <td>
					 	       <%= link_to "View",assessment, class: "btn btn-sm btn-default " %>
					 	   </td>
					 	     </tr>
					 	     <% end %>
					 	   </tbody>
					 	 </table>

					 					
							</div>						
					 	</div>



