<% provide(:title, @assessment.client_id) %>
 <h1><%=@assessment.client.name%></h1>
<div class="row">
    <div class="col-xs-8 col-xs-push-2">

        <div class="panel panel-info box-shadow--6dp">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @assessment.client.name%></h3>
            </div>
                <div class="panel-body">
                    <p> <%= "Date Created:   #{@assessment.created_at.strftime("%B %d, %Y")}"%></p>
                    <p> <%= "Weight:         #{@assessment.weight}Kg"%></p>
                    <p> <%= "Blood Pressure: #{@assessment.bpsystolic.to_s+ ' / ' +@assessment.bpdiastolic.to_s}"%></p>
                    <p> <%= "BodyFat:        #{@assessment.bodyfat}%"%></p>
                     <p> <%= "Notes:         #{@assessment.notes}"%></p>
                     <p><%= "Created By:     #{@assessment.trainer.name}" %></p>
                     <%= button_to "Delete",@assessment,method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-primary " %><br>
                </div>
        </div>
  </div>  
  </div>   