<% if logged_in? %>
      
              <div class="row">
                <div class="col-xs-8 ">
                  <div class="panel panel-default box-shadow--6dp">
                    <div class="panel panel-body">
                      <h3><%= image_tag current_user.profile.avatar.url(:thumb)%>
                        <%= "Welcome #{current_user.first_name}" %></h3><br>
                      <% if current_user.appointments.any? %>
                      <div class="col-xs-6 ">
                      <h5><u>Your upcoming One to One Appointments</u></h5>
                      <%=render 'appointment_feed'%>
                      <%end %>
                      </div>
                      

                       <!--  if current_user.trainer? 
                      
                        button_to "New Article", newarticle_path, :method => "get", class: "btn btn-sm btn-primary"
                        end  -->
                      
                      </div>
                    </div>
                    <%=  image_tag ("clientsense.jpg"), :class=> "homeimg" %>
                </div>
              <div class="col-xs-4">
                     <%=render 'articles/article_feed'%>

                
                    <%= link_to "Go to Articles", articles_path, :method => "get",class: "btn btn-sm btn-primary" %>
                
                    
              </div>         
      </div>
              
      

    <% else %>
      <div class="center jumbotron">
        <h1>Welcome to ClientSense</h1>

        <h2>
          Demo application for ClientSense Client Management Software
          
        </h2>

        <!-- link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" -->
      </div>

      <%= link_to image_tag("rails.png", alt: "Rails logo"),
                  'http://rubyonrails.org/' %>
    <% end %>