
<h1>All users</h1>
<div class = "row">
<div class="col-xs-4">
  <div class="panel panel-default box-shadow--6dp">
      <div class="panel panel-body">
                  
                          
        <ul class="users">
          <h3>Clients</h3>
          <%= render @clients %>
        </ul>
        <%= will_paginate %>
      </div>
    </div>

</div>
<div class="col-xs-4">
  <div class="panel panel-default box-shadow--6dp">
      <div class="panel panel-body">
                  
                          
        <ul class="users">
          <h3>Trainers</h3>
          <%= render @trainers %>
        </ul>
        <%= will_paginate %>
      </div>
    </div>

</div>

<div class="col-xs-4">
  <div class="panel panel-default box-shadow--6dp">
      <div class="panel panel-body">
    <h3><%= "#{current_user.first_name}" %>'s Conversations</h3>

    <div style="height: 400px; overflow-y: auto;">
      <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>   
                <li class="media">
                  <%= image_tag(conversation_interlocutor(conversation).profile.avatar.url(:thumb), class: "media-object pull-left") %>
                  <div class="media-body">
                    <%= link_to "Open", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                    | <%= link_to "Delete", conversation, method: :delete, data: { confirm: "You sure?" } %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                </li>

            <% end %>
          </ul>
      <% else %>
          <p>You have no current conversations.</p>
      <% end %>
    </div>
</div>
</div>
</div>
  </div>

  <div class="col-md-4">

  </div>



