

    



      <% provide(:title, @user.name) %>

       <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
           
          </h1>
        </section>
      <div class="row">
    <div class="col-xs-8">
      
      <%=render 'profiles/show'%>
    </div>
  
      <div class="col-xs-4">
          <div class="panel panel-default box-shadow--6dp">
               <div class="panel panel-body">
                        <% if (@user.trainer?)%>
                            <h5>Trainers Classes</h5> 
                            <% @createdclasses.each do |exclass| %><br><hr>
                            <%= link_to exclass.title, exclass %>
                            <%end%>
                            
                       <% else%>

                          <h5>Classes Attending</h5>
                          <% @bookings.each do |exclass| %><br><hr>
                          <%= link_to exclass.title, exclass %>
                          <%end%>
                      <%end%>
          </div>
          </div>
</div>
 <%if !current_user.trainer?%>
            <%= link_to "View Progress", clientprogress_path, :method => "get", class: "btn btn-sm btn-primary" %>
            
            <%end%>

      </div>

      <div id="profile-modal" class="modal fade"></div>