 
 

<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for @appointment, remote: true, html: { style: "display:inline;" } do |f| %>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Appointment</h4>
      </div>
      <div class="modal-body">
        <ul class="errors"></ul>

        <%= f.label :appointment_at %>
                   
                <div class="input-group date" class="datetimepicker">
                    <%= f.datetime_field :appointment_at, class: 'form-control datetimepicker'%>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <script type="text/javascript">
                      $(function(){
                        $('.datetimepicker').datetimepicker({
                          daysOfWeekDisabled: [0, 6],
                        disabledHours: [0, 1, 2, 3, 4, 5, 6, 22, 23, 24],
                        format: 'DD-MM-YYYY HH:mm' ,
                        });
                       });
                    </script>                 
                    <% if (current_user.type == 'Trainer') %>
                    <%= f.label :trainer_id %><br />
                    <%= f.collection_select(:trainer_id, Trainer.all, :id, :name, {}, {class: 'form-control' } ) %>
                    <%= f.label :client_id %><br>
                    <%= f.collection_select(:client_id, Client.all, :id, :name, {}, {class: 'form-control'  }    ) %><br>
                    <%=f.hidden_field :confirmed, :value => true%>
                    <%end%> 

      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>

