<h1>Create New Appointment</h1>

<% provide(:title, 'Appointment Entry') %>
<% provide(:button_text, 'Add ') %> 
      <div class="row">

            <div class="col-md-6 col-md-offset-3">
              <div class = "panel panel-default">
                  <div class = "panel-body">
              
                      <%= form_for(@appointment) do |f| %>
					       <%= render 'shared/error_messages', object: f.object %>
					        <%= f.label :appointment_at %>
					         
  							<div class="input-group date" class="datetimepicker">
  					        <%= f.datetime_field :appointment_at, class: 'form-control datetimepicker'%>
  					        	<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  					      	</div>
					          <script type="text/javascript">
					            $(function(){
					              $('.datetimepicker').datetimepicker({
					              	daysOfWeekDisabled: [0, 6],
					             	disabledHours: [0, 1, 2, 3, 4, 5, 6, 22, 23, 24],
					             	format: 'DD-MM-YYYY HH:mm' ,
					              });
					             });
					          </script>				          
					          <% if (current_user.type == 'Trainer') %>
					          <%= f.label :trainer_id %><br />
					          <%= f.collection_select(:trainer_id, Trainer.all, :id, :name, {}, {class: 'form-control' } ) %>
					          <%= f.label :client_id %><br>
					          <%= f.collection_select(:client_id, Client.all, :id, :name, {}, {class: 'form-control'  }    ) %><br>
					          <%=f.hidden_field :confirmed, :value => true%>
					          <%end%>					          
					          <div class="row">
					               <div class="col-md-6 col-md-offset-3">
					                    <%= f.submit yield(:button_text), class: "btn btn-success" %>
					               </div>
					          </div>

<% end %>

                  </div>
            </div>
          </div>
          
      </div>


