<% provide(:title, @appointment.client_id) %>
 <h1 class="pageheader"><%=" #{@appointment.client.name}"%></h1>
<div class="row">
    <div class="col-xs-8 col-xs-push-2">

        <div class="panel panel-info box-shadow--6dp">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @appointment.client.name%></h3> 
            </div>
                <div class="panel-body">
                    <p> <%= @appointment.appointment_at.strftime("%B %d, %Y, %H:%M")+' - '%>
                    <% if @appointment.confirmed?%>
                    <%=@appointment.end_time.strftime("%I:%M%p")%></p>
                    <%end%>
                     <% if @appointment.trainer_id != nil %>
                     <p><%= @appointment.trainer.name %></p>
                     <%end%>
                     <%= link_to "Edit", edit_appointment_path(@appointment), method: :get, class: "btn btn-sm btn-primary " %>
                     <%= link_to "Delete",@appointment,method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger " %><br>
                </div>
        </div>
  </div>  
  </div>   